@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  font-size: 1.125rem;
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%);
  font-family: 'Outfit', sans-serif;
  overflow: hidden;
}
body main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-component {
  background-color: hsl(216, 50%, 16%);
  padding: 1.5rem;
  width: 21rem;
  border-radius: 1rem;
}
.card-component .image {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.card-component .image img {
  display: block;
}
.card-component .image::before {
  content: '';
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background: url(./images/icon-view.svg);
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease;
}
.card-component .image::after {
  content: '';
  position: absolute;
  inset: 0;
  background: hsl(178, 100%, 50%);
  background-size: cover;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
}
.card-component .image:hover::before {
  opacity: 1;
}
.card-component .image:hover::after {
  opacity: 0.5;
}
.card-component img:hover {
  border-radius: 0.5rem;
}
.card-component .info {
  padding-top: 1rem;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card-component .info h3 {
  cursor: pointer;
  transition: color 0.3s ease;
}
.card-component .info > p {
  color: hsl(215, 51%, 70%);
}
.card-component .info .data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-component .info .equilibrium,
.card-component .info .date {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: hsl(215, 51%, 70%);
}
.card-component .info .equilibrium {
  color: hsl(178, 100%, 50%);
}
.card-component .info .equilibrium span,
.card-component .info .date span {
  margin-left: 0.3rem;
}
.card-component .author {
  display: flex;
  align-items: center;
}
.card-component .author img {
  width: 2.4rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 1rem;
}
.card-component .author p {
  font-size: 0.925rem;
  color: hsl(215, 51%, 70%);
}
.card-component .author p span {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: color 0.3s ease;
}
.card-component .author p span:hover,
.card-component .info h3:hover {
  color: hsl(178, 100%, 50%);
}
.card-component .line {
  width: 100%;
  height: 1px;
  background-color: hsl(215, 32%, 27%);
  margin: 1rem 0;
}
.attribution {
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  color: hsl(215, 51%, 70%);
}
.attribution a {
  color: hsl(178, 100%, 50%);
}
